* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  border: none;
  letter-spacing: 0.01em;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 300px;
  border: 25px
  padding;
  margin: 25px;

}

p {
  margin: 1;
  line-height: 1;

}

h1  {
  box-sizing: border-box;
  display: flex;
  max-width: 180px;

}

h2  {
  box-sizing: border-box;
  display: flex;

}